.social-links{
    text-align: center;
    width: 100%;
    gap: 1em;
    margin-bottom: 1em;
}
.social-links a{
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    background-color: var(--grey);
    width: 75%;
    padding: 1em;
    border-radius: 8px;
}

.social-links a:hover{
    background-color: var(--green);
    color: var(--offBlack);
}