@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
}
:root {

  /* Color Variables */
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --darkGrey: hsl(0, 0%, 12%);
  --offBlack: hsl(0, 0%, 8%);

  
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--offBlack);
}
.main{
  width: 100vw;
  height: 100vh;
}
.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  color: var(--white);
  background-color: var(--darkGrey);
  width: 80%;
  min-width: 330px;
  max-width: 380px;
  border-radius: 10px;
  height: 75vh;
}